*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#container{
    width: 500px;
    margin: 0 auto;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul li{
    padding:10px;
    display: flex;
    justify-content:space-between;
    align-items: inherit;
}
ul li:hover{
    background: #f3f3f3;
}
#list input{
    padding: 0;
    height : initial;
    width: initial;
    margin-bottom: 0;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    cursor:pointer;
    margin-right: 10px;
}
#list input:checked + label:after{
    content:'';
    display: block;
    position:absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height:14px;
    border: solid #f3f3f3;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#list input:checked + label:before{
    background:#0079bf;
}
#list input:checked + label{
    text-decoration:line-through;
}
.delete{
    height: 28px;
    padding : 5px 0;
    border-radius: 3px;
}
.delete:hover{
    background-color:#f2f2f2;
    cursor:pointer;
}
h1{
    text-align:center;
}
.add-task{
    width:100%;
    outline:none;
    font-size: 15px;
    padding : 11px;
    border: 1px solid #f3f3f3;
    margin-bottom: 3px;
}
#total-tasks{
    margin-bottom:20px;
    font-size: 13px;
    margin-left:2px;
    color: gray;
}